.base-bg-color {
	background-color: #F5F5F5;
}

.main-top {
	margin-top: 2rem;

	&-title {
		margin-top: 2rem;
		text-align: center;
		img {
			width: 100%;
			max-width: 600px;
		}
	}

	&-bg {
		margin-top: 2.5rem;
		text-align: center;
	}

	&-category {
		margin: 0.8rem 0 0 1rem;

		&-btn {
			margin: 1rem 0.5rem;
			>button {
				border-radius: 0.9rem;
				border: 0.1rem solid black;
				padding: 0.3rem 0;
				width: 11rem;
				background-color: white;
			}
		}
	}

	&-small-fixed-bar {
		display: none;
		position: fixed;
		top: 0;
    	left: 0;
		padding: 2rem 0.7rem 1rem 0.7rem;
		background-color: #F5F5F5;
		&-title {
			margin-top: 2rem;
			text-align: center;
			img {
				width: 100%;
				max-width: 600px;
			}
		}
	}
}

.main-middle {
	// 카테고리 이름
	&-category-name {
		margin: 1rem 2.5rem 0 2.5rem;
		border-bottom: 0.2rem solid #4F4A4A;
		font-size: 2rem;
	}
	// 카테고리 이름 작은 버전
	&-small-category-name {
		margin: 1rem 1.5rem 0 1.5rem;
		border-bottom: 0.1rem solid #4F4A4A;
		font-size: 1rem;
	}

	&-contents-box {
		margin: 2rem 0.5rem;
		user-select: none;
		&-common, &-japanese, &-korean, &-category{
			padding: 1rem 1rem;
		}

		&-category {
			display: flex;
			flex-wrap: wrap;
			>div {
				&:nth-of-type(odd) { // 홀수 순번의 div
					width: 50%;
					padding-right: 1rem;
				}
				&:nth-of-type(even) { // 짝수 순번의 div
					width: 50%;
					padding-left: 1rem;
				}
				>div { // 카테고리 페이지의 content-card는 margin을 줄임
					margin-bottom: 1rem;
				}
			}
		}
	}

	&-content {
		margin: 1rem 1rem 2rem 1rem;
		height: 7rem;
		background-color: #FFFFFF;
		box-shadow: 1px 4px 5px 0px rgba(0, 0, 0, 0.25);
		display: flex;
		align-items: center;

		&-thumb img {
			width: 100%;
			height: 80%;
			object-fit: cover;
		}

		&-text {
			display: flex;
			align-items: center;
	
			&-title {
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: normal;
				line-height: 1.2;
				word-wrap: break-word;
				display: -webkit-box;
				-webkit-line-clamp: 4;
				-webkit-box-orient: vertical;
				font-size: large;
				font-weight: bold;
			}
		}
	}

	// 스마트폰용 컨텐츠 카드
	&-small-content {
		margin: 1rem 0 2rem 0;
		height: 4rem;
		background-color: #FFFFFF;
		box-shadow: 1px 4px 5px 0px rgba(0, 0, 0, 0.25);
		display: flex;
		align-items: center;

		&-thumb img {
			width: 100%;
			height: 80%;
			object-fit: cover;
		}

		&-text {
			display: flex;
			align-items: center;
	
			&-title {
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: normal;
				line-height: 1.2;
				word-wrap: break-word;
				display: -webkit-box;
				-webkit-line-clamp: 3;
				-webkit-box-orient: vertical;
				font-size: smaller;
				font-weight: bold;
			}
		}
	}

}

// =================
// 햄버거 버튼 시작
.small-menu {
	width: 1.8rem;
	height: 1.4rem;
	position: relative;
	display: inline-block;
	transition: all .4s;
	user-select: none;

	span {
		display: inline-block;
		transition: all .4s;
		box-sizing: border-box;
		position: absolute;
		width: 100%;
		height: 0.1rem;
		background-color: rgb(80, 80, 80);
		border-radius: 4px;
	}
}

// nth-of-type(n)
// n번째 span의 위치
.small-menu span:nth-of-type(1) {
	top: 0;
}
.small-menu span:nth-of-type(2) {
	top: 0.6rem;
}
.small-menu span:nth-of-type(3) {
	bottom: 2;
}
.small-menu span:nth-of-type(4) {
	bottom: 2;
	height: 0;
	color: rgb(80, 80, 80);
	font-size: xx-small;
	text-align: center;
	font-weight: bold;
}
/* 중앙 라인이 고정된 자리에서 투명하게 사라지며 상하라인 회전하며 엑스자 만들기 */
.small-menu.active span:nth-of-type(1) {
	-webkit-transform: translateY(0.6rem) rotate(-45deg);
	transform: translateY(0.6rem) rotate(-45deg);
}
.small-menu.active span:nth-of-type(2) {
	opacity: 0;
}
.small-menu.active span:nth-of-type(3) {
	-webkit-transform: translateY(-0.6rem) rotate(45deg);
	transform: translateY(-0.6rem) rotate(45deg);
}
// 햄버거 버튼 종료
// =================

// =================
// 카테고리 모달
.category-modal {
	opacity: 0;
	visibility: hidden;
	position: fixed;
	left: 50%;
	top: 58%;
	width: 100%;
	height: 84%;
	background-color: #E3E3E3;
	transform: translate(-50%, -10%);
	z-index: 100; // 다른 요소들 위에 표시
	overflow-y: auto; // 모달 내용이 길 경우 스크롤
	user-select: none;
	transition: opacity .4s, visibility .4s, transform .4s; // opacity 트랜지션과 visibility 지연 설정
	// 활성화 시
	&.active {
		opacity: 1;
		visibility: visible;
		transform: translate(-50%, -50%);
		padding: 2.5rem;
	}
	&-category {
		margin-bottom: 1rem;
		border-bottom: 0.1rem solid #ACA1A1;
		// 카테고리 분류
		&-head {
			display: flex;
			z-index: 101;
			padding-bottom: 0.5rem;
			&-name {
				flex: 9;
				height: 1.5rem;
				font-size: 0.9rem;
			}
			&-drop {
				flex: 1;
				padding-top: 0.3rem;
				// 플러스 모양 아이콘
				&-icon {
					width: 0.7rem;
					height: 0.7rem;
					position: relative;
					display: inline-block;
					&::before,
					&::after {
						content: "";
						position: absolute;
						background-color: black;
						transition: opacity .4s, transform .4s;
					}

					&::before {
						top: 0;
						left: 0.3rem;
						width: 0.1rem;
						height: 100%;
					}

					&::after {
						top: 0.3rem;
						left: 0;
						height: 0.1rem;
						width: 100%;
					}
					// 클릭시 마이너스 모양으로 전환
					&.active {
						&::before {
							transform: rotate(90deg);
						}
						&::after {
							transform: rotate(90deg);
							opacity: 0;
						}
					}
				}
			}
		}
		// 카테고리 리스트
		&-body {
			display: none;
			opacity: 1;
			font-size: 0.9rem;
			>span {
				display: block;
				padding-bottom: 0.2rem;
			}
		}
	}
	
}
// 카테고리 모달
// =================

// 고정 영역
.main-bottom-fixed {
	position: fixed;
	display: flex;
	width: 100%;
	height:0; // div가 다른 컨텐츠를 가려버리므로 높이를 0로 고정
	bottom: 10rem;
	&-left {
		flex: 9;
	}
	&-right {
		flex: 1;
	}
}
//
// 탑스크롤 버튼
// =================
.top-scroll-btn {
	position: relative;
	border: none;
    border-radius: 50%;
    background-color: #9C9C9C;
	opacity: 40%;
    transition: opacity .4s;
	width: 4.3rem;
	height: 4.3rem;
	&::before,
	&::after {
		content: "";
		position: absolute;
		background-color: white;
		transition: opacity .4s, transform .4s;
	}
	&::before {
		top: 1.5rem;
		left: 2.2rem;
		width: 0.2rem;
		height: 0.9rem;
		transform-origin: top left; // 회전 중심을 바꿈
		transform: rotate(45deg);
	}
	&::after {
		top: 1.5rem;
		left: 2rem;
		width: 0.2rem;
		height: 0.9rem;
		transform-origin: top right; // 회전 중심을 바꿈
		transform: rotate(-45deg);
	}
	// 호버 상태일 때의 스타일
	&:hover {
		opacity: 70%;
	}
}
// =================
// 탑스크롤 버튼

@media (max-width: 768px) {
	.main-middle-contents-box-japanese {
		display: none !important;
	}
	.main-middle-contents-box-korean {
		display: none !important;
	}
	.main-middle-contents-box-category {
		display: none !important;
	}
	.main-top-category-btn {
		display: none !important;
	}
	.main-bottom-fixed {
		display: none !important;
	}
	.main-middle-category-name { // 카테고리 이름
		display: none !important;
	}
}

@media (min-width: 769px) {
	.main-middle-contents-box-all { // 컨텐츠 카드
		display: none !important;
	}
	.small-menu { // 햄버거 메뉴
		display: none !important;
	}
	.main-top-small-fixed-bar { // 탑스크롤 버튼
		display: none !important;
	}
	.main-middle-small-category-name { // 카테고리 이름
		display: none !important;
	}
}
