.base-bg-color {
	background-color: #F5F5F5;
}

.post-view-title {
	margin-top: 2rem;
	>.main-title {
		img {
			width: 50%;
			display: block;
			margin: 0 auto;
		}
	}
	img {
		width: 100%;
		display: block;
		margin: 3rem auto 0 auto;
	}
	h1 {
		margin-top: 2rem;
		font-size: 1.9rem;
		font-weight: bold;
	}

	// 스마트폰용
	@media (max-width: 768px) {
		h1 {
			font-size: 1.6rem;
		}
		.main-title img {
			width: 80%;
		}
	}
}

.post-view-content {
	h1 {
		font-size: 1.7rem;
	}
	h2 {
		font-size: 1.7rem;
	}
	h3 {
		font-size: 1.7rem;
	}
	img {
		width: 80%;
		display: block;
        margin: 0 auto;
	}

	.right {
		text-align: right;
	}
	.left {
		text-align: left;
	}
	.center {
		text-align: center;
	}
	.underline {
		text-decoration: underline;
	}

	// 스마트폰용
	@media (max-width: 768px) {
		h1 {
			font-size: 1.4rem;
		}
		h2 {
			font-size: 1.4rem;
		}
		h3 {
			font-size: 1.4rem;
		}

		img {
			width: 100%;
			display: block;
			margin: 0 auto;
		}
	}
}
