@charset "UTF-8";
.base-bg-color {
  background-color: #F5F5F5;
}

.main-top {
  margin-top: 2rem;
}
.main-top-title {
  margin-top: 2rem;
  text-align: center;
}
.main-top-title img {
  width: 100%;
  max-width: 600px;
}
.main-top-bg {
  margin-top: 2.5rem;
  text-align: center;
}
.main-top-category {
  margin: 0.8rem 0 0 1rem;
}
.main-top-category-btn {
  margin: 1rem 0.5rem;
}
.main-top-category-btn > button {
  border-radius: 0.9rem;
  border: 0.1rem solid black;
  padding: 0.3rem 0;
  width: 11rem;
  background-color: white;
}
.main-top-small-fixed-bar {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  padding: 2rem 0.7rem 1rem 0.7rem;
  background-color: #F5F5F5;
}
.main-top-small-fixed-bar-title {
  margin-top: 2rem;
  text-align: center;
}
.main-top-small-fixed-bar-title img {
  width: 100%;
  max-width: 600px;
}

.main-middle-category-name {
  margin: 1rem 2.5rem 0 2.5rem;
  border-bottom: 0.2rem solid #4F4A4A;
  font-size: 2rem;
}
.main-middle-small-category-name {
  margin: 1rem 1.5rem 0 1.5rem;
  border-bottom: 0.1rem solid #4F4A4A;
  font-size: 1rem;
}
.main-middle-contents-box {
  margin: 2rem 0.5rem;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.main-middle-contents-box-common, .main-middle-contents-box-japanese, .main-middle-contents-box-korean, .main-middle-contents-box-category {
  padding: 1rem 1rem;
}
.main-middle-contents-box-category {
  display: flex;
  flex-wrap: wrap;
}
.main-middle-contents-box-category > div:nth-of-type(odd) {
  width: 50%;
  padding-right: 1rem;
}
.main-middle-contents-box-category > div:nth-of-type(even) {
  width: 50%;
  padding-left: 1rem;
}
.main-middle-contents-box-category > div > div {
  margin-bottom: 1rem;
}
.main-middle-content {
  margin: 1rem 1rem 2rem 1rem;
  height: 7rem;
  background-color: #FFFFFF;
  box-shadow: 1px 4px 5px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
}
.main-middle-content-thumb img {
  width: 100%;
  height: 80%;
  -o-object-fit: cover;
     object-fit: cover;
}
.main-middle-content-text {
  display: flex;
  align-items: center;
}
.main-middle-content-text-title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  line-height: 1.2;
  word-wrap: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  font-size: large;
  font-weight: bold;
}
.main-middle-small-content {
  margin: 1rem 0 2rem 0;
  height: 4rem;
  background-color: #FFFFFF;
  box-shadow: 1px 4px 5px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
}
.main-middle-small-content-thumb img {
  width: 100%;
  height: 80%;
  -o-object-fit: cover;
     object-fit: cover;
}
.main-middle-small-content-text {
  display: flex;
  align-items: center;
}
.main-middle-small-content-text-title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  line-height: 1.2;
  word-wrap: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  font-size: smaller;
  font-weight: bold;
}

.small-menu {
  width: 1.8rem;
  height: 1.4rem;
  position: relative;
  display: inline-block;
  transition: all 0.4s;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.small-menu span {
  display: inline-block;
  transition: all 0.4s;
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  height: 0.1rem;
  background-color: rgb(80, 80, 80);
  border-radius: 4px;
}

.small-menu span:nth-of-type(1) {
  top: 0;
}

.small-menu span:nth-of-type(2) {
  top: 0.6rem;
}

.small-menu span:nth-of-type(3) {
  bottom: 2;
}

.small-menu span:nth-of-type(4) {
  bottom: 2;
  height: 0;
  color: rgb(80, 80, 80);
  font-size: xx-small;
  text-align: center;
  font-weight: bold;
}

/* 중앙 라인이 고정된 자리에서 투명하게 사라지며 상하라인 회전하며 엑스자 만들기 */
.small-menu.active span:nth-of-type(1) {
  transform: translateY(0.6rem) rotate(-45deg);
}

.small-menu.active span:nth-of-type(2) {
  opacity: 0;
}

.small-menu.active span:nth-of-type(3) {
  transform: translateY(-0.6rem) rotate(45deg);
}

.category-modal {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  left: 50%;
  top: 58%;
  width: 100%;
  height: 84%;
  background-color: #E3E3E3;
  transform: translate(-50%, -10%);
  z-index: 100;
  overflow-y: auto;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  transition: opacity 0.4s, visibility 0.4s, transform 0.4s;
}
.category-modal.active {
  opacity: 1;
  visibility: visible;
  transform: translate(-50%, -50%);
  padding: 2.5rem;
}
.category-modal-category {
  margin-bottom: 1rem;
  border-bottom: 0.1rem solid #ACA1A1;
}
.category-modal-category-head {
  display: flex;
  z-index: 101;
  padding-bottom: 0.5rem;
}
.category-modal-category-head-name {
  flex: 9;
  height: 1.5rem;
  font-size: 0.9rem;
}
.category-modal-category-head-drop {
  flex: 1;
  padding-top: 0.3rem;
}
.category-modal-category-head-drop-icon {
  width: 0.7rem;
  height: 0.7rem;
  position: relative;
  display: inline-block;
}
.category-modal-category-head-drop-icon::before, .category-modal-category-head-drop-icon::after {
  content: "";
  position: absolute;
  background-color: black;
  transition: opacity 0.4s, transform 0.4s;
}
.category-modal-category-head-drop-icon::before {
  top: 0;
  left: 0.3rem;
  width: 0.1rem;
  height: 100%;
}
.category-modal-category-head-drop-icon::after {
  top: 0.3rem;
  left: 0;
  height: 0.1rem;
  width: 100%;
}
.category-modal-category-head-drop-icon.active::before {
  transform: rotate(90deg);
}
.category-modal-category-head-drop-icon.active::after {
  transform: rotate(90deg);
  opacity: 0;
}
.category-modal-category-body {
  display: none;
  opacity: 1;
  font-size: 0.9rem;
}
.category-modal-category-body > span {
  display: block;
  padding-bottom: 0.2rem;
}

.main-bottom-fixed {
  position: fixed;
  display: flex;
  width: 100%;
  height: 0;
  bottom: 10rem;
}
.main-bottom-fixed-left {
  flex: 9;
}
.main-bottom-fixed-right {
  flex: 1;
}

.top-scroll-btn {
  position: relative;
  border: none;
  border-radius: 50%;
  background-color: #9C9C9C;
  opacity: 40%;
  transition: opacity 0.4s;
  width: 4.3rem;
  height: 4.3rem;
}
.top-scroll-btn::before, .top-scroll-btn::after {
  content: "";
  position: absolute;
  background-color: white;
  transition: opacity 0.4s, transform 0.4s;
}
.top-scroll-btn::before {
  top: 1.5rem;
  left: 2.2rem;
  width: 0.2rem;
  height: 0.9rem;
  transform-origin: top left;
  transform: rotate(45deg);
}
.top-scroll-btn::after {
  top: 1.5rem;
  left: 2rem;
  width: 0.2rem;
  height: 0.9rem;
  transform-origin: top right;
  transform: rotate(-45deg);
}
.top-scroll-btn:hover {
  opacity: 70%;
}

@media (max-width: 768px) {
  .main-middle-contents-box-japanese {
    display: none !important;
  }
  .main-middle-contents-box-korean {
    display: none !important;
  }
  .main-middle-contents-box-category {
    display: none !important;
  }
  .main-top-category-btn {
    display: none !important;
  }
  .main-bottom-fixed {
    display: none !important;
  }
  .main-middle-category-name {
    display: none !important;
  }
}
@media (min-width: 769px) {
  .main-middle-contents-box-all {
    display: none !important;
  }
  .small-menu {
    display: none !important;
  }
  .main-top-small-fixed-bar {
    display: none !important;
  }
  .main-middle-small-category-name {
    display: none !important;
  }
}
