.base-bg-color {
  background-color: #F5F5F5;
}

.post-view-title {
  margin-top: 2rem;
}
.post-view-title > .main-title img {
  width: 50%;
  display: block;
  margin: 0 auto;
}
.post-view-title img {
  width: 100%;
  display: block;
  margin: 3rem auto 0 auto;
}
.post-view-title h1 {
  margin-top: 2rem;
  font-size: 1.9rem;
  font-weight: bold;
}
@media (max-width: 768px) {
  .post-view-title h1 {
    font-size: 1.6rem;
  }
  .post-view-title .main-title img {
    width: 80%;
  }
}

.post-view-content h1 {
  font-size: 1.7rem;
}
.post-view-content h2 {
  font-size: 1.7rem;
}
.post-view-content h3 {
  font-size: 1.7rem;
}
.post-view-content img {
  width: 80%;
  display: block;
  margin: 0 auto;
}
.post-view-content .right {
  text-align: right;
}
.post-view-content .left {
  text-align: left;
}
.post-view-content .center {
  text-align: center;
}
.post-view-content .underline {
  text-decoration: underline;
}
@media (max-width: 768px) {
  .post-view-content h1 {
    font-size: 1.4rem;
  }
  .post-view-content h2 {
    font-size: 1.4rem;
  }
  .post-view-content h3 {
    font-size: 1.4rem;
  }
  .post-view-content img {
    width: 100%;
    display: block;
    margin: 0 auto;
  }
}
