.base-bg-color {
	background-color: #F5F5F5;
}

.main-top {
	margin-top: 4rem;
}

.main-top-title {
	text-align: center;
}

.main-top-bg {
	text-align: center;
	margin-top: 3rem;
}

.main-top-category {
	margin-left: 1rem;
}

.main-top-category-btn {
	margin: 1rem 0.5rem;
}

.main-top-category-name {
	margin: 1rem 1rem;
}

.main-top-category-name-line {
	background-color: #4F4A4A;
	height: 0.2rem;
	opacity: 1.0;
}

.main-middle-contents-box {
	margin: 2rem 0.5rem;
}

.main-middle-contents-box-common {
	padding: 1rem 1rem;
}

.main-middle-contents-box-japanese {
	padding: 1rem 1rem;
}

.main-middle-contents-box-korean {
	padding: 1rem 1rem;
}

.main-middle-content {
	margin: 1rem 0 2rem 1rem;
	height: 7rem;
	background-color: #FFFFFF;
	box-shadow: 1px 4px 5px 0px rgba(0, 0, 0, 0.25);
}

.main-middle-content-thumb {
	height: 100%;
}

.main-middle-content-thumb img{
	width: 100%;
	object-fit: cover;
}

.main-middle-content-text-title {
	overflow: hidden; /* 영역을 넘은 글자 표시 안함 */
	text-overflow: ellipsis; /* 말 줄임표 넣기 */
	white-space: nowrap; /* 줄 바꿈 방지 */
}

.main-middle-content-text-detail {
	/* max-height: 5rem; */
	overflow: hidden; /* 영역을 넘은 글자 표시 안함 */
	text-overflow: ellipsis; /* 말 줄임표 넣기 */
	white-space: normal;
	line-height: 1.2;
	word-wrap: break-word; /* 단어 단위로 줄바꿈 */
	display: -webkit-box;
	-webkit-line-clamp: 4;
	-webkit-box-orient: vertical;
}